@import '../variables';


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
    p{
        font-style: italic;
        max-width: 400px;
        margin: 0 auto;
        padding: 40px;
    }
    img {

        @media  screen and (max-width:460px) {
            width: 50%;
            transition: none;
        }
    }
    .imgOnLoad{
        opacity: 1;
    }
}