@import '../variables';

 nav {
    background-color: $colorNav;
    padding: 15px;
    height: 15px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;


    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        @media screen and (max-width:460px){
            position: absolute;
            flex-direction: column;
            justify-content: space-around;
            height: 100vh;
            width: 0%;
            background-color: $colorNav;
            top:30px;
            right: 0;
            padding: 0;
            z-index: 10;
            transition: 0.7s ease;

            a {
                display: none;
            }

            }
    

        a {
            color: white;
            text-decoration: none;
            padding: 8px;
            font-weight: 600;

            &:hover{
                color: $color3;
                border-bottom: 4px solid;
                transition: 0.3s;
            }
        }  
    }
    .ul-active {
        position: absolute;
        width: 50%;

        a {
            display: inline-block;
        }
    }

    .burger {
        display: none;

        @media screen and (max-width:460px) {
            display: block;
        }
    }

    .line1 {
        width: 13px;
        height: 2px;
        margin: 3px;
        background-color: #fff;
    }
    .line2 {
        width: 13px;
        height: 2px;
        margin: 3px;
        background-color: #fff;
    }
    .line3 {
        width: 13px;
        height: 2px;
        margin: 3px;
        background-color: #fff;
    }
   
}






