@import '../variables';

 nav {
    background-color: rgba(68, 68, 79,0.5);
    padding: 15px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;


    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        @media screen and (max-width:460px){
            position: absolute;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: rgba(68, 68, 79,0.2);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: (10px);
            height: 100vh ;
            width: 0%;
            top:40px;
            right: 0;
            padding: 0;
            z-index: 10;
            transition: 0.7s ease;

            a {
                display: none;
            }

            }
    

        a {
            color: white;
            text-decoration: none;
            padding: 8px;
            font-weight: 600;

            &:hover{
                color: $color3;
                border-bottom: 4px solid;
                transition: 0.3s;
            }
        }  
    }
    .ul-active {
        position: absolute;
        width: 60%;

        a {
            display: inline-block;
        }
    }

    .burger {
        display: none;

        @media screen and (max-width:460px) {
            display: block;
            z-index: 20;
        }
    }

    .line1 {
        width: 13px;
        height: 2px;
        margin: 3px;
        background-color: #fff;
        transition: 0.5s;
    }
    .line2 {
        width: 13px;
        height: 2px;
        margin: 3px;
        background-color: #fff;
        transition: 0.5s;
    }
    .line3 {
        width: 13px;
        height: 2px;
        margin: 3px;
        background-color: #fff;
        transition: 0.5s;
    }

    .toggle .line1{
        transform: rotate(45deg) translateY(7px);
        transition: 0.5s;
    }
    .toggle .line2 {
        opacity: 0;
        transition: 0.5s;
    }
    .toggle .line3 {
        transform: rotate(-45deg) translateY(-7px);
        transition: 0.5s;
    }
   
}






