@import '../variables';

 nav {
    background-color: rgba(244, 244, 244, 0.302);
    padding: 15px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;   
    position: sticky;
    top: 0;
    z-index: 11;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.366);
    backdrop-filter: blur(10px);


    @media screen and (max-width:460px){
        position: static;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        @media screen and (max-width:460px){
            position: absolute;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: rgba(68, 68, 79,0.97);
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            height: 80vh ;
            width: 0%;
            top:45px;
            right: 0;
            padding: 0;
            z-index: 10;
            transition: 0.2s ease;


            a {
                display: none;
            }

            }
    

        a {
            color: rgba(39, 102, 138, 1);
            text-decoration: none;
            padding: 8px;
            font-weight: 600;

            &:hover{
                color: rgb(65, 71, 131);
                border-bottom: 4px solid;
                transition: 0.2s;
            }
        }  
    }
    // #navres {
    //     display: none;
    // }
    // .ul-active {
    //     position: absolute;
    //     height: 300px;
    //     left: 0;
    //     top: 0;
    //     width: 60%;

    //     a {
    //         display: inline-block;
    //     }
    // }

    .burger {
        display: none;

        @media screen and (max-width:460px) {
            display: block;
            z-index: 40;
        }
    }

    .line1 {
        width: 13px;
        height: 2px;
        margin: 3px;
        background-color: rgb(65, 71, 131);;
        transition: 0.3s;
    }
    .line2 {
        width: 13px;
        height: 2px;
        margin: 3px;
        background-color: rgb(65, 71, 131);;
        transition: 0.3s;
    }
    .line3 {
        width: 13px;
        height: 2px;
        margin: 3px;
        background-color: rgb(65, 71, 131);;
        transition: 0.3s;
    }

    .toggle .line1{
        transform: rotate(45deg) translateY(7px);
        transition: 0.3s;
    }
    .toggle .line2 {
        opacity: 0;
        transition: 0.3s;
    }
    .toggle .line3 {
        transform: rotate(-45deg) translateY(-7px);
        transition: 0.3s;
    }
   

}
.navres {
    display: none;
}
.ul-active {
    position: absolute;
    height: 90vh;
    right: 0;
    top: 20;
    width: 60%;
    display: block;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(10px);
    z-index: 50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    
    

    a {
        display: inline-block;
        list-style: none;
        text-decoration: none;
    }
}







