.volet {
    background-color: rgb(76, 137, 146);
    width: 200px;
    position: absolute;
    z-index: 100;
    top: 0;
    height: 100%;
    right: -200px;
}
.volet-visible {
    background-color: rgb(76, 137, 146);
    width: 200px;
    position: absolute;
    z-index: 100;
    top: 0;
    height: 100%;
   right: 0px;
}